{% extends "layouts/main.html" %}
{% block body %}
<div class="container">
    <h1 class="display-4">Create/Edit a Badge</h1>
    <br>

    <form class="form" action="/add_badge" method="post">
      <div class="mb-3">
        <label for="badge_name" class="form-label">Enter a Badge Name</label>
        <input type="text" class="form-control" id="badge_name" name="badge_name">
      </div>

      <div class="mb-3">
        <label for="badge_criteria" class="form-label">Choose how many Pomodoros must be completed to earn this badge (criteria):</label>
        <input type="number" class="form-control" id="badge_criteria" name="badge_criteria">
      </div>

      <div class="mb-3">
        <label for="badge_tag" class="form-label">Select A Tag</label>
        <br>
        <select id="badge_tag" class="form-select" aria-label="Select A Tag" name="badge_tag">
            <option selected>None</option>
            {% for item in tags %}
            <option value="{{ item[0] }}">{{ item[1] }}</option>
            {% endfor %}
        </select>
      </div>

      <br>
      <input type="submit" class="btn btn-primary"></button>
    </form>

  </div>
  {% endblock %}