{% extends "layouts/main.html" %}
{% block body %}

<div class="container">
    <h1 class="display-4">Assign a Badge {% if user %} to {{ user[1] }} {{ user[2] }} {% endif %}</h1>
    <br>

    <form class="form" action="{{ form_action }}" method="post">
    {% if not user %}
    <div class="mb-3">
      <label for="selected_user" class="form-label">Select a User:</label>
      <br>
      <select id="selected_user" name="selected_user" class="form-select" aria-label="" required>
        <option selected></option>
        {% for user in all_users %}
        <option value="{{ user[0] }}">{{ user[1] }} {{ user[2] }}</option>
        {% endfor %}
      </select>
    </div>
    {% endif %}

    <div class="mb-3">
      <label for="selected_badge" class="form-label">Select a Badge:</label>
      <br>
      <select id="selected_badge" name="selected_badge" class="form-select" aria-label="" required>
        <option selected></option>
        {% for badge in all_badges %}
        <option value="{{ badge[0] }}">{{ badge[1] }}</option>
        {% endfor %}
      </select>
    </div>


    <br>
    <input type="submit" class="btn btn-primary"></button>
  </form>

</div>

{% endblock %}