{% extends "layouts/main.html" %}
{% block body %}
<div class="container">
    <h1 class="display-4">Create/Edit a User</h1>
    <br>

    <form class="form" action="{{ form_action }}" method="post">
      <div class="mb-3">
        <label for="user_first_name" class="form-label">Enter a User's first name (30 characters max):</label>
        {% if user %}
        <input type="text" class="form-control" id="user_first_name" name="user_first_name" value="{{ user[0][0] }}">
        {% else %}
        <input type="text" class="form-control" id="user_first_name" name="user_first_name">
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="user_last_name" class="form-label">Enter a User's last name (30 characters max):</label>
        {% if user %}
        <input type="text" class="form-control" id="user_last_name" name="user_last_name" value="{{ user[0][1] }}">
        {% else %}
        <input type="text" class="form-control" id="user_last_name" name="user_last_name">
        {% endif %}
      </div>

      <br>
      <input type="submit" class="btn btn-primary"></button>
    </form>

  </div>
  {% endblock %}