{% extends "layouts/main.html" %}
{% block body %}

  <div class="container">
    <h1 class="display-4">Create/Edit a Task</h1>
    <br>

    <form class="form" id="add_task_form" action="{{ form_action }}" method="POST">
      <div class="mb-3">
        <label for="task_name" class="form-label">Enter a Task name:</label>
        {% if task_data %}
        <input id="task_name" type="text" class="form-control" name="task_name" value="{{ task_data[0][1] }}" required>
        {% else %}
        <input id="task_name" type="text" class="form-control" name="task_name" required>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="task_status" class="form-label">Select a Task status:</label>
        <br>
        <select id="task_status" name="task_status" class="form-select" aria-label="Select A Tag" required>
          <option selected></option>
          <option value="0">In Progress</option>
          <option value="1">Complete</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="task_due_date" class="form-label">Enter a date due:</label>
        {% if task_data %}
        <input id="task_due_date" type="date" class="form-control" name="task_due_date" value="{{task_data[0][3]}}" required>
        {% else %}
        <input id="task_due_date" type="date" class="form-control" name="task_due_date" required>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="task_time_due" class="form-label">Enter a time due:</label>
        <input id="task_time_due" type="time" class="form-control" name="task_time_due" required>
      </div>

      <div class="mb-3">
        <label for="task_pomodoros" class="form-label">Enter a number of Pomodoros:</label>
        {% if task_data %}
        <input id="task_pomodoros" type="number" class="form-control" name="task_pomodoros" value="{{task_data[0][4]}}" required>
        {% else %}
        <input id="task_pomodoros" type="number" class="form-control" name="task_pomodoros" required>
        {% endif %}
      </div>

      <label class="form-label">Select Tags to Assign to the Task:</label>
      {% if tags is defined %}
        {% for item in tags %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{item[0]}}" name="tags" id="tags_{{item[0]}}">
          <label class="form-check-label" for="tags_{{item[0]}}">
            {{ item[1] }}
          </label>
          <br>
        </div>
        {% endfor %}
      {% endif %}
      <br><br>

      {% if user_id is not defined %}
      <div class="mb-3">
        <label for="task_assigned_user" class="form-label">Enter the assigned User ID:</label>
        <div class="input-group">
          {% if task_data %}
          <input id="task_assigned_user" type="number" class="form-control rounded" name="task_assigned_user" value="{{task_data[0][5]}}" required/>
          {% else %}
          <input id="task_assigned_user" type="number" class="form-control rounded" name="task_assigned_user" required/>
          {% endif %}
        </div>
      </div>
      {% endif %}
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

{% endblock %}
