{% extends "layouts/main.html" %}
{% block body %}

  <div class="container">
    <h1 class="display-4">Assign a Tag to a Task</h1>
    <br>

    <form class="form" id="add_task_tag_form" action="{{ form_action }}" method="POST">

      <div class="mb-3">
        <label for="dropdownTasks" class="form-label">Select a Task:</label>
        <br>
        <select id="dropdownTasks" name="selected_task" class="form-select" aria-label="" required>
          <option selected></option>
          {% for task in tasks %}
          <option value="{{ task[0] }}">{{ task[1] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="dropdownTags" class="form-label">Select a Tag:</label>
        <br>
        <select id="dropdownTags" name="selected_tag" class="form-select" aria-label="" required>
          <option selected></option>
          {% for tag in tags %}
          <option value="{{ tag[0] }}">{{ tag[1] }}</option>
          {% endfor %}
        </select>
      </div>

      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

{% endblock %}
