{% extends "layouts/main.html" %}
{% block body %}

<div class="container">

    <h1 class="display-4">Assign tags to: {{ task_name[0] }}</h1>
    <br>
    <form class="form" action="/add_task_tag_user" method="post">
        {% for tag in all_tags %}
        <div class="form-check">
            {% if tag[0] in selected_tags %}
            <input class="form-check-input" type="checkbox" value="{{ tag[0] }}" id="tag" name="tag" checked>
            {% else %}
            <input class="form-check-input" type="checkbox" value="{{ tag[0] }}" id="tag" name="tag">
            {% endif %}
            <label class="form-check-label" for="tag">
                {{ tag[1] }}
            </label>
        </div>
        {% endfor %}
    
    </form>
</div>


{% endblock %}