{% extends "layouts/main.html" %}
{% block body %}
<div class="container">
    <h1 class="display-4">Create/Edit a User</h1>
    <br>

    <form class="form" action="{{ form_action }}" method="post">
      <div class="mb-3">
        <label for="user_first_name" class="form-label">Enter a User's first name (30 characters max):</label>
        {# control block to add a default value if a data object exists #}
        {% if user %}
        <input type="text" class="form-control" id="user_first_name" name="user_first_name" value="{{ user[0][0] }}" required>
        {% else %}
        <input type="text" class="form-control" id="user_first_name" name="user_first_name" required>
        {% endif %}
      </div>

      <div class="mb-3">
        <label for="user_last_name" class="form-label">Enter a User's last name (30 characters max):</label>
        {# control block to add a default value if data object exists #}
        {% if user %}
        <input type="text" class="form-control" id="user_last_name" name="user_last_name" value="{{ user[0][1] }}" required>
        {% else %}
        <input type="text" class="form-control" id="user_last_name" name="user_last_name" required>
        {% endif %}
      </div>

      <label class="form-label">Select Badges to Assign to the User:</label>
      {% for badge in all_badges %}
      <div class="form-check">
        {# control block to check badges if the data object exists #}
          {% if current_badges and badge[0] in current_badges %}
          <input class="form-check-input" type="checkbox" value="{{ badge[0] }}" id="badge{{ badge[0] }}" name="badges" checked>
          {% else %}
          <input class="form-check-input" type="checkbox" value="{{ badge[0] }}" id="badge{{ badge[0] }}" name="badges">
          {% endif %}
          <label class="form-check-label" for="badge{{ badge[0] }}">
              {{ badge[1] }}
          </label>
      </div>
      {% endfor %}

      <br>
      <input type="submit" class="btn btn-primary"></button>
    </form>

  </div>
  {% endblock %}