{% extends "layouts/main.html" %}
{% block body %}
<div class="container">

    <h1 class="display-3 text-center">Pomodoro App</h1>
    <p class="lead text-center">
        From the SlowTypists Team
    </p>
    <p>
        This task management application allows an admin to maintain a database of users and their tasks. It also allows tasks to be labeled with multiple tags and assign users badges when they have completed certain goals. The admin can interact with the application in two ways:
    </p>
    <p class="lead">By Entity</p>
    <p>
        The admin can select a specific entity in the nav bar to view, create, update, or delete an entry in the database.
    </p>
    <p class="lead">By User</p>
    <p>
        The admin can search for a user to bring up their dashboard and to see that user's upcoming tasks, earned badges, and start a Pomodoro task timer for them.
    </p>
    
</div>

{% endblock %}