{% extends "layouts/main.html" %}
{% block body %}
<div class="container">

    <h1 class="display-3 text-center">Pomodoro App</h1>
    <p class="lead text-center">
        From the SlowTypists Team
    </p>

    <p>Search for a user (click search to see a preview of the user main page)</p>

    <form class="form" action="/user_search" method ="post">
        <div class="mb-3">
            <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" name="search_term"/>
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </form>
    
</div>

{% endblock %}