{% extends "layouts/main.html" %}
{% block body %}
<div class="container-fluid">

    <h1 class="display-4">Browse all Tags assigned to Tasks</h1>

    <button onclick="window.location.href='/add_task_tag';" type="button" class="btn btn-primary">Assign a Tag to a Task</button>

    <table class="table">
        <thead>
            <th>Task (FK)</th>
            <th>Tag (FK)</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for item in tasks_tags_data %}
            <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>
                    <button type="button" onclick="window.location='/delete_task_tag/{{item[0]}}/{{item[1]}}';" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
  </div>
{% endblock %}