{% extends "layouts/main.html" %}
{% block body %}
<div class="container-fluid">

    <h1 class="display-4">Browse all Users</h1>

    <button onclick="window.location.href='/add_user';" type="button" class="btn btn-primary">Create a new User</button>
    <br>
    <br>
    <div class="row">
        <div class="col-auto">
            <label for="search_first_name" class="col-form-label">Filter by first name:</label>
        </div>
        <div class="col col-6 col-sm-2">
            <input type="text" class="form-control" id="search_first_name" onkeyup="searchFilter('search_first_name', 'show_users_table', 1)" placeholder="Enter a first name">
            <br>
        </div>
        <div class="col-auto">
            <label for="search_last_name" class="col-form-label">or last name:</label>
        </div>
        <div class="col col-6 col-sm-2">
            <input type="text" class="form-control" id="search_last_name" onkeyup="searchFilter('search_last_name', 'show_users_table', 2)" placeholder="Enter a last name">
            <br>
        </div>
    </div>

    <table class="table" id="show_users_table">
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Earned Badges</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {# displays user entry data in the HTML table #}
            {% for item in users %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>
                    {# displays all badges assigned to this user #}
                    {% for badge in item[3] %}
                    {{ badge }}<br>
                    {% endfor %}
                
                </td>
                <td>
                    <button type="button" onclick="window.location='/update_user/{{item[0]}}';" class="btn btn-primary">Update</button>
                    <button type="button" onclick="window.location='/delete_user/{{item[0]}}';" class="btn btn-danger">Delete</button>
                    <button type="button" onclick="window.location='/user_main_page/{{item[0]}}';" class="btn btn-success">Dashboard</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
  </div>
  {% endblock %}