{% extends "layouts/main.html" %}
{% block body %}

<script>
    //initialize session to work
    var session = "work";

    //set duration of sessions in minutes
    var pomo_len = .2;
    var break_len = .1;

    // get the number of pomodoros associated with the task
    var total_pomos = parseInt('{{ task[5] }}');

    // counter to track the number of completed pomodoros
    var completed_pomos = 0;

    // initialize mins to pomo_len
    var mins = pomo_len;

    //calculate the seconds
    var secs = mins * 60;

    //countdown function is evoked when page is loaded
    function countdown() {
        setTimeout('Decrement()', 60);
    }

    //Decrement function decrement the value.
    function Decrement() {
        if (document.getElementById) {
            minutes = document.getElementById("minutes");
            seconds = document.getElementById("seconds");

            //if less than a minute remaining
            //Display only seconds value.
            if (seconds < 59) {
                seconds.value = secs;
            }

            //Display both minutes and seconds
            //getminutes and getseconds is used to
            //get minutes and seconds
            else {
                minutes.innerHTML = getminutes();
                seconds.innerHTML = getseconds();
            }
            //when less than a minute remaining
            //colour of the minutes and seconds
            //changes to red
            if (mins < 5 && session == "work") {
                timer.style.color = "red";
            }
            //if seconds becomes zero,
            //then page alert time up
            if (mins < 0) {
                minutes.innerHTML = 0;
                seconds.innerHTML = 0;

                // conditionals to check when a break is needed
                if (completed_pomos < total_pomos) {
                    if (session = "work") {
                        completed_pomos++;
                        document.getElementById('pomodoros').innerHTML = completed_pomos;
                        mins = break_len;
                        secs = mins * 60;
                        session = "break";
                    } else if (session = "break") {
                        mins = pomo_len;
                        secs = mins * 60;
                        session = "work";
                    }

                    setTimeout('Decrement()', 60);
                }

            }
            //if seconds > 0 then seconds is decremented
            else {
                secs--;
                setTimeout('Decrement()', 1000);
            }
        }
    }

    function getminutes() {
        //minutes is seconds divided by 60, rounded down
        mins = Math.floor(secs / 60);
        return mins;
    }

    function getseconds() {
        //take minutes remaining (as seconds) away 
        //from total seconds remaining
        return secs - Math.round(mins * 60);
    }
</script>


<div class="container">
    <h1 class="display-5 text-center">Current task: {{ task[1] }}</h1>

    <div class="row">
        <div class="col">
            <h1 id="timer" class="display-1 text-center"><span id="minutes">00</span>:<span id="seconds">00</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="display-5 text-center">Completed Pomodoros: <span id="pomodoros">0</span>/{{ task[5] }}</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button onclick="window.location.href='/complete_task/{{ task[0] }}/{{ task[2] }}';" 
                type="button" class="btn btn-primary position-absolute top-50 start-50">
                Mark current task complete
            </button>
        </div>
        <div class="col">
            <button onclick="window.location.href='/user_main_page/{{ task[2] }}';" 
                type="button" class="btn btn-primary position-absolute top-50 start-50">
                Leave task incomplete
            </button>
        </div>
        <div class="col">
            <button onclick="countdown();" type="button" 
                class="btn btn-primary position-absolute top-50 start-50">
                Start Pomodoro Timer
            </button>
        </div>
    </div>
</div>
{% endblock %}