{% extends "layouts/main.html" %}
{% block body %}

<script>
    //set minutes
    var mins = 2;

    //calculate the seconds
    var secs = mins * 60;

    //countdown function is evoked when page is loaded
    function countdown() {
        setTimeout('Decrement()', 60);
    }

    //Decrement function decrement the value.
    function Decrement() {
        if (document.getElementById) {
            minutes = document.getElementById("minutes");
            seconds = document.getElementById("seconds");

            //if less than a minute remaining
            //Display only seconds value.
            if (seconds < 59) {
                seconds.value = secs;
            }

            //Display both minutes and seconds
            //getminutes and getseconds is used to
            //get minutes and seconds
            else {
                minutes.value = getminutes();
                seconds.value = getseconds();
            }
            //when less than a minute remaining
            //colour of the minutes and seconds
            //changes to red
            if (mins < 1) {
                minutes.style.color = "red";
                seconds.style.color = "red";
            }
            //if seconds becomes zero,
            //then page alert time up
            if (mins < 0) {
                alert('time up');
                minutes.value = 0;
                seconds.value = 0;
            }
            //if seconds > 0 then seconds is decremented
            else {
                secs--;
                setTimeout('Decrement()', 1000);
            }
        }
    }

    function getminutes() {
        //minutes is seconds divided by 60, rounded down
        mins = Math.floor(secs / 60);
        return mins;
    }

    function getseconds() {
        //take minutes remaining (as seconds) away 
        //from total seconds remaining
        return secs - Math.round(mins * 60);
    }
</script>





<!-- <div class="container">
    <div class="row">
        <div class="col">
            <button onclick="countdown();" type="button" class="btn btn-primary position-absolute top-50 start-50">Start Pomodoro Timer</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Time Left ::
            <input id="minutes" type="text" style="width: 10px;
                border: none; font-size: 16px; 
                font-weight: bold; color: black;"><font size="5"> :
                            </font>
            <input id="seconds" type="text" style="width: 20px;
                            border: none; font-size: 16px;
                            font-weight: bold; color: black;">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button onclick="window.location.href='user_main_page.html';" type="button" class="btn btn-primary position-absolute top-50 start-50">Mark current task complete and return to user page</button>
        </div>
        <div class="col">
            <button onclick="window.location.href='user_main_page.html';" type="button" class="btn btn-primary position-absolute top-50 start-50">Leave task incomplete and return to user page</button>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col">
        1 of 1
        </div>
    </div>
    <div class="row">
        <div class="col">
        1 of 3
        </div>
        <div class="col">
        2 of 3
        </div>
        <div class="col">
        3 of 3
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            2 of 3
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
  </div>
{% endblock %}