{% extends "layouts/main.html" %}
{% block body %}
<div class="container">
    <h1 class="text-center">{{ user[1] }} {{ user[2] }}</h1>
  </div>

  <br><br>
  <div class="container">
    <h3>Upcoming Tasks</h3>
    <table class="table">
      <tr>
        {% for task, tags in tasks_data.items() %}
        <td>
          {{ task }}
          <ul>
            {% for tag in tags %}
            <li>{{ tag }}</li>
            {% endfor %}
          </ul>
        </td>
        {% endfor %}
      </tr>
    </table>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col">
        <button onclick="window.location.href='/add_task/{{ user[0] }}';" type="button" class="btn btn-primary">Create a new Task</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" onclick="window.location='/show_tasks/{{ user[0] }}';">Show every task assigned to {{ user[1] }} {{ user[2] }}</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" onclick="window.location='/show_tags';">Show all Tags</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" onclick="window.location='/add_user_badge/{{ user[0] }}';">Manually assign a Badge to {{ user[1] }} {{ user[2] }}</button>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
    <form class="form" action='/timer' method='post'>
      <div class="mb-3">
        <label for="selected_task" class="form-label">Select a task to start timing:</label>
        <br>
        <select id="selected_task" class="form-select" aria-label="Select A Task" name="selected_task">
          <option selected>None</option>
          {% for item in open_tasks %}
          <option value="{{ item[0] }}">{{ item[1] }}</option>
          {% endfor %}
        </select>
      </div>

      <br>
      <button type="submit" class="btn btn-primary">Start Pomodoros</button>
    </form>
  </div>

  <br><br>



  <br><br>

  <div class="container">
    <h3>{{ user[1] }} {{ user[2] }}'s Earned Badges</h3>
    <table class="table">
      <tr>
      {% for item in badges %}
        <td>{{ item[0] }}</td>
      {% endfor %}
      </tr>
    </table>
  </div>

{% endblock %}