{% extends "layouts/main.html" %}
{% block body %}
<div class="container">
    <h1 class="text-center">{{ user[1] }} {{ user[2] }}</h1>
  </div>

  <br><br>
  <div class="container">
    <h3>Upcoming Tasks</h3>
    <div class="card-columns">
      {# populate task cards with tags #}
      {% for task, tags in tasks_data.items() %}
      <div class="card">
        <div class="card-header">
          <strong>{{ task }}</strong>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Due: {{ due_dates[loop.index0] }}</h6>
          <p class="card-text">Tags:{% for tag in tags %} {{ tag }}, {% endfor %}</p>
          <a href="/add_task_tag_user/{{ tasks_ids[loop.index0] }}" class="card-link">Assign a Tag</a>
          <a href="/timer/{{ tasks_ids[loop.index0] }}" class="card-link">Start Timer</a>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col col-auto">
        <button onclick="window.location.href='/add_task/{{ user[0] }}';" type="button" class="btn btn-primary">Create a new Task</button>
      </div>
      <div class="col col-auto">
        <button type="button" class="btn btn-primary" onclick="window.location='/show_tasks/{{ user[0] }}';">Show every task assigned to {{ user[1] }} {{ user[2] }}</button>
      </div>
      <div class="col col-auto">
        <button type="button" class="btn btn-primary" onclick="window.location='/show_tags';">Show all Tags</button>
      </div>
    </div>
  </div>

  <br><br>

  <br><br>

  <div class="container">
    <h3>{{ user[1] }} {{ user[2] }}'s Earned Badges</h3>
    <table class="table table-bordered">
      <tr>
      {# populate badges assigned to user #}
      {% for item in badges %}
        <td>{{ item[0] }}</td>
      {% endfor %}
      </tr>
    </table>
    <button type="button" class="btn btn-primary" onclick="window.location='/add_user_badge/{{ user[0] }}';">Assign a Badge to {{ user[1] }}</button>
  </div>

{% endblock %}