{% extends "layouts/main.html" %}
{% block body %}
<div class="container">
    <h1 class="text-center">{{ user[1] }} {{ user[2] }}</h1>
  </div>

  <br><br>
  <div class="container">
    <h3>Upcoming Tasks</h3>
    <table class="table">
      <tr>
        <td>
          Complete homework assignment #4
          <ul>
            <li>High Priority</li>
            <li>School</li>
          </ul>
        </td>
        <td>
          Finish project requirements document
          <ul>
            <li>High Priority</li>
            <li>Work</li>
          </ul>
        </td>
        <td>
          Come up with new song ideas
          <ul>
            <li>Low Priority</li>
            <li>Personal</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" onclick="window.location='/show_tasks/{{ user[0] }}';">Show every task assigned to {{ user[1] }} {{ user[2] }}</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" onclick="window.location='/show_tags';">Show all Tags</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" onclick="window.location='/add_user_badge/{{ user[0] }}';">Manually assign a Badge to {{ user[1] }} {{ user[2] }}</button>
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
    <form class="form">

      <div class="mb-3">
        <label for="badge_tag" class="form-label">Select a task to start timing:</label>
        <br>
        <select id="badge_tag" class="form-select" aria-label="Select A Tag">
          <option selected>None</option>
          <option value="1">Complete homework assignment #4</option>
          <option value="2">Finish project requirements document</option>
          <option value="3">Come up with new song ideas</option>
        </select>
      </div>

      <br>
      <button type="button" onclick="window.location.href='timer.html';" class="btn btn-primary">Start Pomodoro Timer</button>
    </form>
  </div>

  <br><br>



  <br><br>

  <div class="container">
    <h3>{{ user[1] }} {{ user[2] }}'s Earned Badges</h3>
    <table class="table">
      <tr>
      {% for item in badges %}
        <td>{{ item[0] }}</td>
      {% endfor %}
      </tr>
    </table>
  </div>

{% endblock %}